<h1>Conquistas Cadastradas</h1>

<a href="/jogos/{{jogo.id}}/novaConquista">Cadastrar Conquista</a>

<table border="1">
  <!-- table row -->
  <tr>
    <!-- table head -->
    <th>Título</th>
    <th>Descrição</th>
  </tr>
  {{#each conquistas}}
    <tr>
      <td>{{this.titulo}}</td>
      <td>{{this.descricao}}</td>
    </tr>
  {{/each}}
</table>